
.header{
width: 100%;
background-color: $color-negro;
color: $color-claro;
display: flex;
justify-content: space-between;
padding: 25px;
align-items: center;


&__h1{
    padding: 16px;
    font-size: 25px;
    margin-left: 70px;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    

}
&__h1:hover{
    cursor: pointer;
    color: $color-gris;
}
&__nav{
    
   
    ul{  
        margin-right: 250px;

    }
    ul :first-child{
        color: $color-claro;
        font-weight: 800;
    }
    ul a  {
        
        padding: 16px;
        list-style: none;
        text-decoration: none;
        outline: none;
        color:$color-gris;
        margin-left: 10px;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 600;
    }
    a:hover {
        color: $color-claro;
    }
   
}
}